/* Estilos para a página azul */
body {
    margin: 0;
    padding: 0;
    background-color: #0000FF; /* Azul */
    color: #FFFFFF; /* Cor do texto */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blue-page {
    text-align: center;
}

.blue-page h1 {
    font-size: 2em;
    margin: 0;
}
